<div class="my-5 grid container w-10/12 items-center m-auto content-center py-5">
   <input type="text" class="w-1/2  my-5 mx-auto p-2 border-2 forced-colors:border-blue-400  border-blue-300 rounded-lg" placeholder="Search" [(ngModel)]="searchterm" />

   @if (inHome) {
   <h2 class="text-3xl font-bold  scroll-pt-48 relative  p-1 "> Recomanded <span class="text-blue-500">Prouducts</span></h2>
   }@else {
   <h2 class="text-3xl font-bold text-center pt-4 relative  p-1 "> All <span class="text-blue-500">Prouducts</span></h2>
   }
   <div
      class="container text-start  mx-auto items-center content-center gap-6 grid grid-cols-1  md:grid-cols-3 h- lg:grid-cols-4 py-4">



      @for (product of Products |search:searchterm ; track $index) {
      <app-productcard [product]="product"></app-productcard>

      }
   </div>
</div>