<div class="py-14 my-16 ">


    <form [formGroup]="orderForm" (ngSubmit)="placeOrder()" class="max-w-md dark:bg-gray-800 mx-auto shadow-xl py-20 px-8 rounded-2xl">
        <img src="undraw_online-payments_p97e.svg" class="w-5/6">
        <div class="relative z-0 w-full mb-5 group">
            <input formControlName="details" type="text" name="details" id="details"
                class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                placeholder=" " required />
            <label for="details"
                class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
                Details</label>
              
        </div>
    @if (orderForm.get('details')?.touched){
    @if (orderForm.get('details')?.hasError('required')) {
    <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
        role="alert">
        <span class="font-medium">Danger alert!</span> Name is required
    </div>
    }
       
} 
            
     

        <div class="relative z-0 w-full mb-5 group"> 
            <input type="tel" formControlName="phone" name="floating_phone" id="floating_phone"
                class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                placeholder=" " required />
            <label for="floating_phone"
               class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Phone</label>
              
        </div>
        @if (orderForm.get('phone')?.touched){
            @if (orderForm.get('phone')?.hasError('required')) {
            <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                role="alert">
                <span class="font-medium">Phone Numper is Required</span>
            </div>
            }
               
        } 
           
        <div class="relative z-0 w-full mb-5 group">
            <input  type="text" formControlName="city" name="repeat_city" id="floating_repeat_city"
                class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                placeholder=" " required />
            <label for="floating_repeat_city"
                class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
                City</label>
        </div>
        @if (orderForm.get('city')?.touched){
            @if (orderForm.get('city')?.hasError('required')) {
            <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                role="alert">
                <span class="font-medium">City  is Required</span>
            </div>
            }
               
        } 
        <div class="flex justify-evenly p-5  ">
            <div class="flex items-center ">
                <input id="default-radio-1" formControlName="type" value="cach" type="radio" name="default-radio"
                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                <label for="default-radio-1" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Pay Cash
                    </label>
            </div>
            <div class="flex items-center">
                <input checked id="default-radio-2" formControlName="type" value="Online" type="radio"  name="default-radio"
                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                <label for="default-radio-2"  class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"> Online Payment
                    </label>
            </div>
        </div>
        <div class=" w-full flex justify-center mt-4">
            <button type="submit" 
                class="text-white  bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-20 py-4 me-2  dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" >
        
                @if(isLoding){
                    Place Order
                    }@else {
                    <i class="fa-solid fa-spinner fa-spin fa-1x mr-3" style="color: #63E6BE;"> </i>Loading...

                    }
                </button>
            </div>
    </form>

</div>