<div class="container w-3/4 h-[100vh] mx-auto">
   <div class="flex py-7  justify-center flex-col items-center">
    <img src="404 Error Page not Found with people connecting a plug-pana.svg" class="w-2/4" alt="">
    <h1 class="py-4 font-semibold text-2xl">Oops! <span class="text-blue-600">Page not found</span>
      </h1>
      <p class="w-1/3 pb-3 text-center font-semibold ">  The page you are trying to access does not exist or has been moved.
        Try going back to our homepage.</p>
        <a class="bg-blue-600 px-3 py-3 my-3 rounded-lg text-white font-semibold hover:bg-blue-500 cursor-pointer " routerLink="/home" >Back To Home</a>
   </div>
</div>
