<div class="container py-10  ">
    <h2 class="text-blue-500 text-center mt-9 text-4xl font-semibold font-mono my-10 border-b-2 opacity-55 py-6">Register Now :</h2>
    <div class="grid md:grid-cols-2 justify-center md:justify-between content-center   ">
        <div class="img m-auto" data-aos="fade-right" data-aos-duration="3000">
            <img src="In no time-rafiki.svg" alt="" class="w-full mx-auto md:block  hidden">
        </div>
        <div data-aos="fade-left" data-aos-duration="3000" class="py-2">


            <form  [formGroup]="registerForm"  (ngSubmit)="submit()" class="max-w-md p-20 shadow-2xl rounded-2xl bg-gray-100">
                <div class="grid  md:gap-6">
                    <div class="relative z-0 w-full mb-5 group">
                        <input type="text" name="floating_first_name" formControlName="name" id="floating_first_name"
                            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                            placeholder=" " required />
                        <label for="floating_first_name"
                            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">First
                            name</label>
                    </div>
                    @if (registerForm.get('name')?.touched) {
                    @if (registerForm.get('name')?.hasError('required')) {
                    <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                        role="alert">
                        <span class="font-medium">Danger alert!</span> Name is required
                    </div>
                    }@else if (registerForm.get('name')?.hasError('minlength')) {
                    <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                        role="alert">
                        <span class="font-medium">Danger alert!</span> name shoud be at leats 3 charcts
                    </div>
                    }
                    }@else if (registerForm.get('name')?.hasError('maxlength')) {
                    <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                        role="alert">
                        <span class="font-medium">name shoud be at max 20 charcts
                            !</span> 
                    </div>
                    }

                </div>
                <div class="relative z-0 w-full mb-5 group">
                    
                    <input type="email" formControlName="email" name="floating_email" id="floating_email"
                        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                        placeholder=" " required />
                    <label for="floating_email"
                        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email
                        address</label>

                </div>
                @if (registerForm.get('email')?.touched) {
                @if (registerForm.get('email')?.hasError('required')) {
                <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                    role="alert">
                    <span class="font-medium">Danger alert!</span> Email is required
                </div>
                }@else if (registerForm.get('email')?.hasError('email')) {
                <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                    role="alert">
                    <span class="font-medium">Danger alert!</span> Entar valid Email
                </div>
                }
                }
                <div class="relative z-0 w-full mb-5 group">
                    <input type="password" formControlName="password" name="floating_password" id="floating_password"
                        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                        placeholder=" " required />
                    <label for="floating_password"
                        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Password</label>
                </div>
                @if (registerForm.get('password')?.touched) {
                @if (registerForm.get('password')?.hasError('required')) {
                <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                    role="alert">
                    <span class="font-medium">Danger alert!</span> password is required
                </div>
                }@else if (registerForm.get('password')?.hasError('pattern')) {
                <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                    role="alert">
                    <span class="font-medium">Danger alert!</span> Password is invaild
                </div>
                }
                }
                <div class="relative z-0 w-full mb-5 group">
                    <input type="password" formControlName="rePassword" name="repeat_password"
                        id="floating_repeat_password"
                        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                        placeholder=" " required />
                    <label for="floating_repeat_password"
                        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Confirm
                        password</label>
                </div>
                @if (registerForm.get('password')?.touched) {
                @if (registerForm.get('rePassword')?.hasError('required')) {
                <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                    role="alert">
                    <span class="font-medium">Danger alert!</span> password is required
                </div>
                }@else if (registerForm.hasError('misMatch')) {
                <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                    role="alert">
                    <span class="font-medium">Danger alert!</span> Password is Notmatch
                </div>
                }
                }
                

                <button type="submit" [disabled]="registerForm.invalid" [class.bg-blue-100]="registerForm.invalid"
                    class="text-white bg-blue-700  font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">

                    @if(isLoading){
                    Submit
                    }@else {
                    <i class="fa-solid fa-spinner fa-spin fa-1x mr-3" style="color: #63E6BE;"> </i>Loading...

                    }

                </button>
            </form>
           

        </div>
    </div>
</div>