@tailwind base;
@tailwind components;
@tailwind utilities;
@source "../node_modules/flowbite";
@import "flowbite/src/themes/default";
@custom-variant dark (&:where(.dark, .dark *));
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
body{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 5px;
    
}
::-webkit-scrollbar:hover{
    width: 15px;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(50, 50, 253);
    border-radius: 20px;
}
::-webkit-scrollbar-track{
background-color: rgb(218, 214, 214);
}